{% load static i18n %}


      <ul class="social-icons">
        <li><a href="#" target="_blank"><img src="{% get_static_prefix %}images/fb.png" alt="facebook"></a></li>
        <li><a href="#" target="_blank"><img src="{% get_static_prefix %}images/tw.png" alt="twitter"></a></li>
        <li><a href="#" target="_blank"><img src="{% get_static_prefix %}images/go.png" alt="google plus"></a></li>
        <li><a href="#" target="_blank"><img src="{% get_static_prefix %}images/pin.png" alt="pinterest"></a></li>
        <li><a href="#" target="_blank"><img src="{% get_static_prefix %}images/st.png" alt="stumbleupon"></a></li>
        <li><a href="#" target="_blank"><img src="{% get_static_prefix %}images/dr.png" alt="dribbble"></a></li>
      </ul>
