glob:.eric5project
glob:_eric5project
glob:.eric4project
glob:_eric4project
glob:.ropeproject
glob:_ropeproject
glob:.directory
glob:**.pyc
glob:**.pyo
glob:**.orig
glob:**.bak
glob:**.rej
glob:**~
glob:cur
glob:tmp
glob:__pycache__
glob:**.DS_Store
glob:*.db
glob:univer_land/*.db
glob:.idea
glob:**.db
glob:cover/
glob:*.nja
glob:.env/
glob:django-orders.e4p
