
.icon-key:before { content: '\e800'; } /* '' */
.icon-th-list:before { content: '\e801'; } /* '' */
.icon-comment:before { content: '\e802'; } /* '' */
.icon-chat:before { content: '\e803'; } /* '' */
.icon-comment-empty:before { content: '\e804'; } /* '' */
.icon-chat-empty:before { content: '\e805'; } /* '' */
.icon-paper-plane-empty:before { content: '\e806'; } /* '' */
.icon-paper-plane:before { content: '\e807'; } /* '' */
.icon-list-bullet:before { content: '\e808'; } /* '' */
.icon-login:before { content: '\e809'; } /* '' */
.icon-logout:before { content: '\e80a'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */
.icon-users:before { content: '\e80c'; } /* '' */
.icon-info-outline:before { content: '\e80d'; } /* '' */
.icon-info:before { content: '\e80e'; } /* '' */
.icon-location:before { content: '\e80f'; } /* '' */
.icon-help:before { content: '\e810'; } /* '' */
.icon-help-circled:before { content: '\e811'; } /* '' */
.icon-info-1:before { content: '\e812'; } /* '' */
.icon-info-circled:before { content: '\e813'; } /* '' */
.icon-mail:before { content: '\e814'; } /* '' */
.icon-attach:before { content: '\e815'; } /* '' */
.icon-phone:before { content: '\e816'; } /* '' */
.icon-paper-plane-1:before { content: '\e817'; } /* '' */
.icon-lock:before { content: '\e818'; } /* '' */
.icon-lock-open:before { content: '\e819'; } /* '' */
.icon-eye:before { content: '\e81a'; } /* '' */
.icon-pencil:before { content: '\e81b'; } /* '' */
.icon-chat-1:before { content: '\e81c'; } /* '' */
.icon-comment-1:before { content: '\e81d'; } /* '' */
.icon-key-1:before { content: '\e81e'; } /* '' */
.icon-facebook-squared:before { content: '\e81f'; } /* '' */
.icon-gplus:before { content: '\e820'; } /* '' */
.icon-tumblr:before { content: '\e821'; } /* '' */
.icon-tumblr-circled:before { content: '\e822'; } /* '' */
.icon-linkedin:before { content: '\e823'; } /* '' */
.icon-linkedin-circled:before { content: '\e824'; } /* '' */
.icon-facebook:before { content: '\e825'; } /* '' */
.icon-facebook-circled:before { content: '\e826'; } /* '' */
.icon-twitter-circled:before { content: '\e827'; } /* '' */
.icon-twitter:before { content: '\e828'; } /* '' */
.icon-skype:before { content: '\e829'; } /* '' */
.icon-vkontakte:before { content: '\e82a'; } /* '' */
.icon-search:before { content: '\e82b'; } /* '' */
.icon-login-1:before { content: '\e82c'; } /* '' */
.icon-logout-1:before { content: '\e82d'; } /* '' */
.icon-list:before { content: '\e82e'; } /* '' */
.icon-list-add:before { content: '\e82f'; } /* '' */
.icon-pencil-1:before { content: '\e830'; } /* '' */
.icon-info-circled-1:before { content: '\e831'; } /* '' */
.icon-info-2:before { content: '\e832'; } /* '' */
.icon-user-1:before { content: '\e833'; } /* '' */
.icon-users-1:before { content: '\e834'; } /* '' */
.icon-export:before { content: '\e835'; } /* '' */
.icon-sort-alt-up:before { content: '\e836'; } /* '' */
.icon-sort-alt-down:before { content: '\e837'; } /* '' */
.icon-wrench:before { content: '\e838'; } /* '' */
.icon-phone-1:before { content: '\e839'; } /* '' */
.icon-lock-1:before { content: '\e83a'; } /* '' */
.icon-lock-open-1:before { content: '\e83b'; } /* '' */
.icon-lock-open-alt:before { content: '\e83c'; } /* '' */
.icon-eye-1:before { content: '\e83d'; } /* '' */
.icon-eye-off:before { content: '\e83e'; } /* '' */
.icon-list-numbered:before { content: '\e83f'; } /* '' */
.icon-google:before { content: '\e840'; } /* '' */
.icon-gplus-1:before { content: '\e841'; } /* '' */
.icon-gplus-squared:before { content: '\e842'; } /* '' */
.icon-linkedin-1:before { content: '\e843'; } /* '' */
.icon-facebook-squared-1:before { content: '\e844'; } /* '' */
.icon-facebook-1:before { content: '\e845'; } /* '' */
.icon-vkontakte-1:before { content: '\e846'; } /* '' */
.icon-tumblr-1:before { content: '\e847'; } /* '' */
.icon-tumblr-squared:before { content: '\e848'; } /* '' */
.icon-twitter-squared:before { content: '\e849'; } /* '' */
.icon-twitter-1:before { content: '\e84a'; } /* '' */
.icon-location-1:before { content: '\e84b'; } /* '' */
.icon-help-1:before { content: '\e84c'; } /* '' */
.icon-help-circled-1:before { content: '\e84d'; } /* '' */
.icon-cancel-circled2:before { content: '\e84e'; } /* '' */
.icon-cancel-circled:before { content: '\e84f'; } /* '' */
.icon-cancel:before { content: '\e850'; } /* '' */
.icon-search-1:before { content: '\e851'; } /* '' */
.icon-mail-1:before { content: '\e852'; } /* '' */
.icon-mail-alt:before { content: '\e853'; } /* '' */
.icon-plus:before { content: '\e854'; } /* '' */
.icon-attach-1:before { content: '\e855'; } /* '' */
.icon-clock:before { content: '\e856'; } /* '' */
.icon-rouble:before { content: '\e857'; } /* '' */