
.ui-dialog .ui-dialog-titlebar-close{
    background: url('../images/fancybox_close.png')
                 no-repeat scroll -4px -3px transparent;
    width: 34px;
    height: 34px;
    margin-top: -17px;
    }

.ui-dialog .ui-dialog-title,.ui-widget-header {
    background:#9ccb34;

}

.ui-datepicker .ui-datepicker-buttonpane button {
        background:none;
        background-color: #9ccb34;
        border: 1px solid #000;
        color:#fff;
    }

.ui-datepicker .ui-datepicker-title {
    color:#000;
    }

@media (max-width: 767px) {
    .ui-dialog .ui-dialog-titlebar-close{
        margin-top: -15px;
    }

    .ui-dialog .ui-dialog-title {
        height:30px;
    }

        .ui-slider .ui-slider-handle {
            width: 2.2em;
            height: 2.2em;
    }

    dd.ui_tpicker_minute {
        margin-top:5px;
    }

    dt.ui_tpicker_minute_label {
        margin-top:25px;
    }

    .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
        height: 35px;
        width: 65px;
    }

    .ui-datepicker .ui-datepicker-buttonpane button {
        height: 35px;
        width: 75px;
     }

     .ajaxform p img {
        max-width: 100%;
        height: 25px;
    }
}

@media (max-width: 480px) {

    .ui-dialog .ui-dialog-titlebar-close {
        background: url('../images/fancybox_close.png')
                 no-repeat scroll 3px 4px transparent;
        width: 50px;
        height: 50px;
        margin: -25px 0px 0px;
    }

    .ui-dialog .ui-dialog-title {
        height:40px;
    }

        .ui-slider .ui-slider-handle {
            width: 2.2em;
            height: 2.2em;
    }

    dd.ui_tpicker_minute {
        margin-top:5px;
    }

    dt.ui_tpicker_minute_label {
        margin-top:25px;
    }

    .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
        height: 35px;
        width: 65px;
    }

    .ui-datepicker .ui-datepicker-buttonpane button {
        height: 35px;
        width: 75px;
     }

     .ajaxform p img {
        max-width: 100%;
        height: 25px;
    }
}

